/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.text_logo {
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 2rem;
}
.width_text {
	width: 70%;
}
.fa-microphone {
	animation: pulse 2s infinite;
	margin-left: 20%;
  }
  
  @keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
  }

.red_text {
	color: red;
}
.content-start {
	justify-content: flex-start;
}
.margin_box {
	margin-top: 7%;
}

